{% extends "base.html.twig" %}
{% block title 'nouveau logement' %}
{% block body %}
 <h2>Creer un bien</h2>
<div class="container mt-4" style="background-color: whitesmoke;">
   
{{include('admin/_form.html.twig', {form:form, button :'Creer'}) }}
</div>
{% endblock %}